extends ../layout

block stylesheets
	link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css")

block content

	.row
		.col-md-12
			.card
				.card-body
					a.btn.btn-primary(href=`${ route.dashboards.pages.user.create }`) Create
					br
					br
					table.table.table-condensed#DataTable
						thead
							tr
								th.text-center Username
								th.text-center Email
								th.text-center
						tbody

block scripts
	script(type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js")
	script.
		function users() {
			jQuery('#DataTable').DataTable({
				ordering : false,
				processing : false,
				serverSide : true,
				buttons : [],
				columns : [
					{
						data : 'username',
						name : 'username',
						className : 'text-center'
					},
					{
						data : 'email',
						name : 'email',
						className : 'text-center'
					},
					{
						data : function(data) {
							return `
								<a href="#{route.dashboards.pages.user.edit}/${data.id}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>
								<a href="#{route.dashboards.pages.user.destroy}/${data.id}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
							`;
						},
						name : 'action',
						className : 'text-center'
					}
				],
				ajax : {
					url : '#{route.dashboards.pages.user.index}'
				}
			});
		}

		users();